[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[packages]
kaggle_environments = "*"
numpy="*"
gitlint = "*"

[dev-packages]
black = "*"
gitlint = "*"
isort = "*"
mkdocs = "*"
mkdocs-git-revision-date-plugin = "*"
mkdocs-material = "*"
mkdocs-minify-plugin = "*"
